*{
    margin: 0;
    padding: 0;
}

.button{
    padding: 10px;
    background: #ccc;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    transition: .5s;
}

.button:hover{
    background:#333;
    color: #fff;
}